.contact-form {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	align-items: center;
	gap: 5vw;
	// @include mq(mobile) {
	// 	display: flex;
	// 	flex-direction: column-reverse;
	// 	img {
	// 		max-width: 200px;
	// 	}
	// }
	form {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		width: 100%;
	}
	.form-group {
		label {
			font-style: italic;
			font-size: 1rem;
		}
		&.rgpd label {
			font-style: normal;
			line-height: 1.4;
		}

		@mixin box-shadow($shad) {
			-webkit-box-shadow: $shad;
			-moz-box-shadow: $shad;
			box-shadow: $shad;
		}

		@mixin transition($transition) {
			-moz-transition: $transition;
			-o-transition: $transition;
			-webkit-transition: $transition;
			transition: $transition;
		}

		.rounded-checkbox {
			$heigth: 25px;

			display: grid;
			grid-template-columns: auto 1fr;
			align-items: center;
			gap: 1rem;
			padding: 3px;
			// background-color: rgba(#000, 0.1);
			border-radius: $heigth;
			input[type="checkbox"] {
				display: none;
				&:checked + .rounded-checkbox__outer {
					background-color: var(--primary);
					.rounded-checkbox__inner {
						left: 38%;
					}
				}
			}
			&__outer {
				width: $heigth * 2;
				height: $heigth;
				border-radius: $heigth;
				background-color: rgba(white, 0.2);
				display: block;
				@include box-shadow(inset 0 0 10px rgba(#000, 0.4));
				position: relative;
				@include transition(background-color 0.3s);
			}
			&__inner {
				position: absolute;
				left: 2%;
				top: 4%;
				height: 92%;
				width: 60%;
				background-color: #efedea;
				border-radius: $heigth;
				@include transition(left 0.3s);
				@include box-shadow(inset 0 -1px 2px rgba(#000, 0.4));
			}
		}
	}
	.form-error {
		background: red;
		color: white;
		padding: 0.25rem 1rem;
		margin-top: 0.5rem;
		border-radius: 5px;
		display: inline-block;
		font-size: 1rem;
	}
}
