.hero {
	background-color: rgba(255, 255, 255, 0.4);
}
.home-realisations {
	&__featured {
		position: relative;
		isolation: isolate;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: -5px;
			width: calc(100% + 10px);
			height: 100%;
			border-radius: 16px;
			background-color: hsl(41.92deg 89.8% 50%);
			rotate: 3deg;
			z-index: -1;
		}
	}
}
.home-atouts {
	position: relative;
	isolation: isolate;
	&:after {
		content: "";
		position: absolute;
		inset: 0;
		background-position: 25% 75%;
		background-attachment: fixed;
		z-index: -1;
	}

	&__item {
		backdrop-filter: blur(10px);
	}
}
