.realisations {
	&__list {
		display: grid;
		grid-template-rows: repeat(4, 1fr);
		grid-template-areas:
			"bomot bomot troisiemechance alsacefroid"
			"bomot bomot willow alsacefroid"
			"loide loide willow peche"
			"loide loide holamate peche";
		grid-gap: 1rem;
		gap: 1rem;
	}
	&__3eme-chance {
		grid-area: troisiemechance;
	}
	&__alsace-froid-energies {
		grid-area: alsacefroid;
	}
	&__bomot {
		grid-area: bomot;
	}
	&__hola-mate {
		grid-area: holamate;
	}
	&__peche-exotique {
		grid-area: peche;
	}
	&__willow-tarot {
		grid-area: willow;
	}
	&__loide-guitare {
		grid-area: loide;
	}
}
